   *{margin:0;padding:0;box-sizing:border-box;}
   .site-header{
                width:100%;
                height:100vh;
                background:forestgreen;
                clip-path;polygon(0% 0%,100% 0%,100% 80%,0% 100%);
                }
  nav{
        width:100%; height:100px; display:flex;
  }
  .logo{
        width:50%; height:100px;}
   .logo h1{line-height:100px; padding-left:50px;}
   .menu{width:50%;height:100px;}
   .menu ul{
         width:100%;height:100px;
         display:flex;flex-direction:row;
         justify-content:space-around;
         align-items:center;}
         
    .menu ul li{list-style:none;font-size:12px;font-weight:bold;text-tranform;uppercase;}
    section{display:flex}
    .leftside{width:45%;height:auto;
              overflow:hidden;margin-top:20px;}
     .leftside img{width:600px;height:500px}
     .rightside{width:55%;height:300px;color:white;
     text-align:center;margin-top:80px;background:forestgreen;padding:40px;}
      footer{height:70px;width:100%;background-color:violet;}
      .r{text-align:center;color:red;}
       .t{text-align:center;backround-color:violet}  